flows/backup_test.json
[
    {
        "id": "c0c5d3d48807a804",
        "type": "subflow",
        "name": "get_output",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 480,
                "y": 80,
                "wires": [
                    {
                        "id": "72b353c0ac1dcc72",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 120,
                "wires": [
                    {
                        "id": "d1e43871407afb36",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 160,
                "wires": [
                    {
                        "id": "38fb4992c1a440b2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 200,
                "wires": [
                    {
                        "id": "177fa5a20a296f07",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 240,
                "wires": [
                    {
                        "id": "966c30caa57f365d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 480,
                "y": 280,
                "wires": [
                    {
                        "id": "c68acec97eaba8e4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "38fb4992c1a440b2",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_power",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "72b353c0ac1dcc72",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "volt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_voltage",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d1e43871407afb36",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_current",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "768648440dd2200e",
        "type": "inject",
        "z": "c0c5d3d48807a804",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "72b353c0ac1dcc72",
                "d1e43871407afb36",
                "38fb4992c1a440b2",
                "966c30caa57f365d",
                "c68acec97eaba8e4",
                "177fa5a20a296f07"
            ]
        ]
    },
    {
        "id": "966c30caa57f365d",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "pf",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_pf",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c68acec97eaba8e4",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "frequency",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_frequency",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "177fa5a20a296f07",
        "type": "change",
        "z": "c0c5d3d48807a804",
        "name": "energy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output_energy",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "46413099658d8708",
        "type": "tab",
        "label": "BACKUP_TEST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2713a1bbfe818e9f",
        "type": "link in",
        "z": "46413099658d8708",
        "name": "link in 4",
        "links": [],
        "x": 115,
        "y": 80,
        "wires": [
            [
                "861182f42f524856"
            ]
        ]
    },
    {
        "id": "c56a55c172434941",
        "type": "inject",
        "z": "46413099658d8708",
        "name": "Load ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "e21eabdbd2089aec"
            ]
        ]
    },
    {
        "id": "a778c08c14117d94",
        "type": "inject",
        "z": "46413099658d8708",
        "name": "Load OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 200,
        "y": 230,
        "wires": [
            [
                "e21eabdbd2089aec"
            ]
        ]
    },
    {
        "id": "e21eabdbd2089aec",
        "type": "switch",
        "z": "46413099658d8708",
        "name": "ON/OFF Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 205,
        "wires": [
            [
                "f8627685fb8c49fc"
            ],
            [
                "24f979030a0c8b2f"
            ]
        ]
    },
    {
        "id": "f8627685fb8c49fc",
        "type": "function",
        "z": "46413099658d8708",
        "name": "Start Timer",
        "func": "const isRunning=true;\nflow.set('isRunning', isRunning);\n\nflow.set('startTime', new Date());\nif(isRunning){\nnode.status({ fill: 'green', shape: 'dot', text: 'Timer started...' });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "24f979030a0c8b2f",
        "type": "function",
        "z": "46413099658d8708",
        "name": "Stop Timer",
        "func": "flow.set('isRunning', false);\nflow.set('startTime', null);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "4f85d1f669cb7fe3",
        "type": "inject",
        "z": "46413099658d8708",
        "name": "1 Second Interval",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "f852a80f22bfea7d"
            ]
        ]
    },
    {
        "id": "f852a80f22bfea7d",
        "type": "function",
        "z": "46413099658d8708",
        "name": "Update Timer",
        "func": "// Read context values\nconst isRunning = flow.get('isRunning') === true;\nconst startTime = flow.get('startTime'); // Expect an ISO string or timestamp\n\nif (isRunning && startTime) {\n    // Parse startTime into a Date object\n    const start = new Date(startTime);\n    if (isNaN(start.getTime())) {\n        // Handle invalid startTime\n        node.status({ fill: 'red', shape: 'ring', text: 'Invalid start time' });\n        return null;\n    }\n\n    // Calculate elapsed time\n    const now = new Date();\n    const elapsedMs = now.getTime() - start.getTime();\n\n    // Convert elapsed time to hours, minutes, and seconds\n    const totalSeconds = Math.floor(elapsedMs / 1000);\n    const hours = Math.floor(totalSeconds / 3600);\n    const minutes = Math.floor((totalSeconds % 3600) / 60);\n    const seconds = totalSeconds % 60;\n\n    // Format as HH:MM:SS\n    const formattedTime = [\n        hours.toString().padStart(2, '0'),\n        minutes.toString().padStart(2, '0'),\n        seconds.toString().padStart(2, '0'),\n    ].join(':');\n\n    // Update payload and node status\n    msg.payload = formattedTime;\n    node.status({ fill: 'green', shape: 'dot', text: formattedTime });\n    return msg;\n} else if (!isRunning) {\n    // Timer is stopped\n    node.status({ fill: 'red', shape: 'ring', text: 'Timer Stopped' });\n    return null;\n} else {\n    // Handle edge case: startTime is missing\n    node.status({ fill: 'red', shape: 'ring', text: 'Missing start time' });\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "7af965e537ef84fa"
            ]
        ]
    },
    {
        "id": "7af965e537ef84fa",
        "type": "debug",
        "z": "46413099658d8708",
        "name": "Elapsed Time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e85192e8ffe247b",
        "type": "ui-text",
        "z": "46413099658d8708",
        "group": "ac18f679c10f1fd0",
        "order": 2,
        "width": 3,
        "height": 0,
        "name": "",
        "label": "BACKUP TIME",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#121212",
        "wrapText": false,
        "className": "",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "861182f42f524856",
        "type": "function",
        "z": "46413099658d8708",
        "name": "BUFFER",
        "func": "let previousValue = flow.get('previousValue') || 0;\n\nif (msg.payload === 1 && previousValue !== 1) {\n    // First 1 received; send it\n    flow.set('previousValue', 1);\n    return msg; // Forward the message\n} else if (msg.payload === 0 && previousValue !== 0) {\n    // First 0 received; send it\n    flow.set('previousValue', 0);\n    return msg; // Forward the message\n} else {\n    // Repeated 1s or 0s, do nothing\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 120,
        "wires": [
            [
                "e21eabdbd2089aec"
            ]
        ]
    },
    {
        "id": "518691ee2b8704be",
        "type": "function",
        "z": "46413099658d8708",
        "name": "BACKUP_TEST",
        "func": "// Helper function for delay\nfunction delay(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\n// Main async function\n(async () => {\n    if (msg.payload === true) {\n        // Set a flag to indicate the backup test is running\n        global.set('backupTestRunning', true);\n        node.warn('Backup test started');\n\n        try {\n            // Step 1: Trigger start alarm\n            global.set('alarm_status', 1);\n            node.warn('Start alarm triggered');\n            await delay(2000); // 2 seconds delay\n            if (!global.get('backupTestRunning')) throw new Error('Backup test stopped');\n            global.set('alarm_status', 0);\n            node.warn('Start alarm stopped');\n\n            // Step 2: Turn off mains input\n            global.set('cmd_mains_input', 0);\n            node.warn('Turning off mains input...');\n\n            // Step 3: Wait for mains input to be confirmed as off\n            while (global.get('sense_mains_input') !== 0) {\n                if (!global.get('backupTestRunning')) throw new Error('Backup test stopped');\n                node.warn('Waiting for sense_mains_input to confirm 0...');\n                await delay(100); // Check every 100ms\n            }\n            node.warn('Mains input confirmed off');\n\n            // Step 4: Wait for UPS output to be detected as 1\n            while (global.get('sense_ups_output') !== 1) {\n                if (!global.get('backupTestRunning')) throw new Error('Backup test stopped');\n                node.warn('Waiting for sense_ups_output to confirm 1...');\n                await delay(100); // Check every 100ms\n            }\n            node.warn('UPS output detected as 1');\n\n            // Step 5: Start the backup timer\n            let backupTime = 0;\n            const interval = 1000; // 1-second interval\n\n            node.warn('Measuring backup time...');\n            while (global.get('sense_ups_output') === 1) {\n                if (!global.get('backupTestRunning')) throw new Error('Backup test stopped');\n                await delay(interval); // Wait 1 second\n                backupTime++; // Increment backup timer\n                global.set('BackupTime', backupTime);\n                node.warn(`Backup time: ${backupTime} seconds`);\n            }\n\n            // Step 6: Stop backup test and log results\n            node.warn('UPS output dropped to 0. Backup test stopped');\n            global.set('BackupTime', backupTime);\n            node.warn(`Total backup time: ${backupTime} seconds`);\n\n        } catch (error) {\n            // Handle process stop\n            node.warn(error.message);\n        } finally {\n            // Reset backupTestRunning flag\n            global.set('backupTestRunning', false);\n            node.warn('Backup test process ended');\n        }\n\n    } else if (msg.payload === false) {\n        // Stop the backup test\n        node.warn('Stopping backup test...');\n        global.set('backupTestRunning', false);\n        global.set('alarm_status', 0);\n        global.set('cmd_mains_input', 1); // Assuming 1 is the default or safe state\n        node.warn('Backup test stopped and reset');\n    }\n\n    return null;\n})();\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "06ec5b2d0bcde3d7",
        "type": "subflow:c0c5d3d48807a804",
        "z": "46413099658d8708",
        "name": "",
        "x": 80,
        "y": 420,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "28a534038cc22b3c",
        "type": "inject",
        "z": "46413099658d8708",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "c909ad4f0537c120"
            ]
        ]
    },
    {
        "id": "c909ad4f0537c120",
        "type": "change",
        "z": "46413099658d8708",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BackupTime",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "8e85192e8ffe247b"
            ]
        ]
    },
    {
        "id": "20b478891d72398b",
        "type": "ui-switch",
        "z": "46413099658d8708",
        "name": "",
        "label": "BackupTest",
        "group": "ac18f679c10f1fd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "518691ee2b8704be"
            ]
        ]
    },
    {
        "id": "ddde2940ca2fe7fe",
        "type": "ui-template",
        "z": "46413099658d8708",
        "group": "eaf9e02b16206474",
        "page": "",
        "ui": "",
        "name": "POWER_METER_INPUTPOWER",
        "order": 1,
        "width": 3,
        "height": "6",
        "head": "",
        "format": "<template>\n  <div class=\"meter-container\">\n    <!-- Dynamic Header -->\n    <div class=\"meter-header\">\n      <h2>{{ headerText }}</h2>\n    </div>\n    <!-- Multi-function Meter -->\n    <div class=\"meter-display\">\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Voltage</h3>\n          <h1>{{ data.voltage }} V</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Current</h3>\n          <h1>{{ data.current }} A</h1>\n        </div>\n      </div>\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Power</h3>\n          <h1>{{ data.power }} W</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Energy</h3>\n          <h1>{{ data.energy }} kWh</h1>\n        </div>\n      </div>\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Power Factor</h3>\n          <h1>{{ data.pf }}</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Frequency</h3>\n          <h1>{{ data.frequency }} Hz</h1>\n        </div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      data: {\n        voltage: 0,\n        current: 0,\n        power: 0,\n        energy: 0,\n        pf: 0,\n        frequency: 0,\n        type: 0, // Default to INPUT_POWER\n      },\n      dataType: {\n        INPUT_POWER: 0,\n        OUTPUT_POWER: 1,\n      },\n    };\n  },\n  computed: {\n    // Determine header text based on data type\n    headerText() {\n      return this.data.type === this.dataType.INPUT_POWER\n        ? \"Input Power\"\n        : \"Output Power\";\n    },\n  },\n  methods: {\n    updatePowerData(payload) {\n      if (payload && payload.data) {\n        this.data = { ...this.data, ...payload.data }; // Merge new data with existing data\n      } else {\n        console.error(\"Invalid payload:\", payload);\n      }\n    },\n  },\n  mounted() {\n    this.$watch(\n      \"msg\",\n      (newMsg) => {\n        if (newMsg && newMsg.payload) {\n          this.updatePowerData(newMsg.payload);\n        }\n      },\n      { deep: true }\n    );\n  },\n};\n</script>\n\n<style scoped>\n/* Outer Container */\n.meter-container {\n  display: flex;\n  flex-direction: column;\n  justify-content: center;\n  align-items: center;\n  padding: 20px;\n  background-color: #222;\n  border-radius: 10px;\n  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);\n  max-width: 600px;\n  margin: auto;\n}\n\n/* Header Styling */\n.meter-header {\n  margin-bottom: 15px;\n  text-align: center;\n}\n\n.meter-header h2 {\n  color: #fff;\n  font-family: \"Courier New\", Courier, monospace;\n  font-size: 1.5rem;\n  margin: 0;\n}\n\n/* Inner Display */\n.meter-display {\n  width: 100%;\n  display: flex;\n  flex-direction: column;\n  gap: 10px;\n  font-family: \"Courier New\", Courier, monospace;\n  color: #fff;\n}\n\n/* Rows for Data */\n.meter-row {\n  display: flex;\n  justify-content: space-between;\n  gap: 10px;\n}\n\n/* Individual Items */\n.meter-item {\n  background-color: #333;\n  flex: 1;\n  padding: 15px;\n  border-radius: 8px;\n  text-align: center;\n  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);\n}\n\n/* Heading and Value Styling */\n.meter-item h3 {\n  margin: 0;\n  font-size: 1rem;\n  color: #aaa;\n}\n\n.meter-item h1 {\n  margin: 5px 0 0;\n  font-size: 1.5rem;\n  color: #fff;\n}\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c0cdc61cfda7f36f",
        "type": "function",
        "z": "46413099658d8708",
        "name": "input_power",
        "func": "// Function node to generate random power data and assign to msg.payload.data\nmsg.payload = {\n    data: {\n        type: 0, // Randomly assign type 0 (INPUT_POWER) or 1 (OUTPUT_POWER)\n        voltage: (Math.random() * 50 + 200).toFixed(2), // Random voltage between 200V and 250V\n        current: (Math.random() * 10 + 1).toFixed(2),   // Random current between 1A and 10A\n        power: (Math.random() * 1000 + 100).toFixed(2), // Random power between 100W and 1100W\n        energy: (Math.random() * 10 + 0.5).toFixed(2),  // Random energy between 0.5kWh and 10.5kWh\n        pf: (Math.random() * 0.5 + 0.5).toFixed(2),     // Random power factor between 0.5 and 1.0\n        frequency: (Math.random() * 5 + 45).toFixed(2)  // Random frequency between 45Hz and 50Hz\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "ddde2940ca2fe7fe"
            ]
        ]
    },
    {
        "id": "ed6919bf01d28de8",
        "type": "inject",
        "z": "46413099658d8708",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "c0cdc61cfda7f36f",
                "47585c468c9ebe2f"
            ]
        ]
    },
    {
        "id": "47585c468c9ebe2f",
        "type": "function",
        "z": "46413099658d8708",
        "name": "outout_power",
        "func": "// Function node to generate random power data and assign to msg.payload.data\nmsg.payload = {\n    data: {\n        type: 1, // Randomly assign type 0 (INPUT_POWER) or 1 (OUTPUT_POWER)\n        voltage: (Math.random() * 50 + 200).toFixed(2), // Random voltage between 200V and 250V\n        current: (Math.random() * 10 + 1).toFixed(2),   // Random current between 1A and 10A\n        power: (Math.random() * 1000 + 100).toFixed(2), // Random power between 100W and 1100W\n        energy: (Math.random() * 10 + 0.5).toFixed(2),  // Random energy between 0.5kWh and 10.5kWh\n        pf: (Math.random() * 0.5 + 0.5).toFixed(2),     // Random power factor between 0.5 and 1.0\n        frequency: (Math.random() * 5 + 45).toFixed(2)  // Random frequency between 45Hz and 50Hz\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "9de60c78c8758b1e"
            ]
        ]
    },
    {
        "id": "9de60c78c8758b1e",
        "type": "ui-template",
        "z": "46413099658d8708",
        "group": "eaf9e02b16206474",
        "page": "",
        "ui": "",
        "name": "POWER_METER_OUTPUT POWER",
        "order": 2,
        "width": 4,
        "height": "6",
        "head": "",
        "format": "<template>\n  <div class=\"meter-container\">\n    <!-- Dynamic Header -->\n    <div class=\"meter-header\">\n      <h2>{{ headerText }}</h2>\n    </div>\n    <!-- Multi-function Meter -->\n    <div class=\"meter-display\">\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Voltage</h3>\n          <h1>{{ data.voltage }} V</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Current</h3>\n          <h1>{{ data.current }} A</h1>\n        </div>\n      </div>\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Power</h3>\n          <h1>{{ data.power }} W</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Energy</h3>\n          <h1>{{ data.energy }} kWh</h1>\n        </div>\n      </div>\n      <div class=\"meter-row\">\n        <div class=\"meter-item\">\n          <h3>Power Factor</h3>\n          <h1>{{ data.pf }}</h1>\n        </div>\n        <div class=\"meter-item\">\n          <h3>Frequency</h3>\n          <h1>{{ data.frequency }} Hz</h1>\n        </div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      data: {\n        voltage: 0,\n        current: 0,\n        power: 0,\n        energy: 0,\n        pf: 0,\n        frequency: 0,\n        type: 0, // Default to INPUT_POWER\n      },\n      dataType: {\n        INPUT_POWER: 0,\n        OUTPUT_POWER: 1,\n      },\n    };\n  },\n  computed: {\n    // Determine header text based on data type\n    headerText() {\n      return this.data.type === this.dataType.INPUT_POWER\n        ? \"Input Power\"\n        : \"Output Power\";\n    },\n  },\n  methods: {\n    updatePowerData(payload) {\n      if (payload && payload.data) {\n        this.data = { ...this.data, ...payload.data }; // Merge new data with existing data\n      } else {\n        console.error(\"Invalid payload:\", payload);\n      }\n    },\n  },\n  mounted() {\n    this.$watch(\n      \"msg\",\n      (newMsg) => {\n        if (newMsg && newMsg.payload) {\n          this.updatePowerData(newMsg.payload);\n        }\n      },\n      { deep: true }\n    );\n  },\n};\n</script>\n\n<style scoped>\n/* Outer Container */\n.meter-container {\n  display: flex;\n  flex-direction: column;\n  justify-content: center;\n  align-items: center;\n  padding: 20px;\n  background-color: #222;\n  border-radius: 10px;\n  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);\n  max-width: 600px;\n  margin: auto;\n}\n\n/* Header Styling */\n.meter-header {\n  margin-bottom: 15px;\n  text-align: center;\n}\n\n.meter-header h2 {\n  color: #fff;\n  font-family: \"Courier New\", Courier, monospace;\n  font-size: 1.5rem;\n  margin: 0;\n}\n\n/* Inner Display */\n.meter-display {\n  width: 100%;\n  display: flex;\n  flex-direction: column;\n  gap: 10px;\n  font-family: \"Courier New\", Courier, monospace;\n  color: #fff;\n}\n\n/* Rows for Data */\n.meter-row {\n  display: flex;\n  justify-content: space-between;\n  gap: 10px;\n}\n\n/* Individual Items */\n.meter-item {\n  background-color: #333;\n  flex: 1;\n  padding: 15px;\n  border-radius: 8px;\n  text-align: center;\n  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);\n}\n\n/* Heading and Value Styling */\n.meter-item h3 {\n  margin: 0;\n  font-size: 1rem;\n  color: #aaa;\n}\n\n.meter-item h1 {\n  margin: 5px 0 0;\n  font-size: 1.5rem;\n  color: #fff;\n}\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ac18f679c10f1fd0",
        "type": "ui-group",
        "name": "UPS_STATUS",
        "page": "7d0f53039d1540b1",
        "width": 3,
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eaf9e02b16206474",
        "type": "ui-group",
        "name": "OUTPUT_DATA",
        "page": "7d0f53039d1540b1",
        "width": 7,
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7d0f53039d1540b1",
        "type": "ui-page",
        "name": "BACKUP_TEST",
        "ui": "6bb6879aa70631ea",
        "path": "/backup_test",
        "icon": "battery-clock",
        "layout": "grid",
        "theme": "f51f9a07212ff54b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6bb6879aa70631ea",
        "type": "ui-base",
        "name": "UPS Tester",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "f51f9a07212ff54b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#d1479f",
            "primary": "#0094ce",
            "bgPage": "#ededed",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]