flows/NoloadTest.json
[
    {
        "id": "6906193139893272",
        "type": "tab",
        "label": "GLOBAL_UPS_VARIABLES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e74de8334138f510",
        "type": "function",
        "z": "6906193139893272",
        "name": "global variable",
        "func": "return msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// // Code added here will be run once\n// // whenever the node is started.\n// const cmd_mains_input = 0;\n// const sense_mains_input = 0;\n// const sense_ups_output = 0;\n\n// const cmd_load1_connect = 0;\n// const cmd_load2_connect = 0;\n// const cmd_load3_connect = 0;\n// const alarm_status = 0;\n// const BackupTime = 0;\n\n// // Input and output power data\n// const input_voltage = 0;\n// const input_current = 0;\n// const input_power = 0;\n// const input_energy = 0;\n// const input_pf = 0;\n// const input_frequency = 0;\n\n// const output_voltage = 0;\n// const output_current = 0;\n// const output_power = 0;\n// const output_energy = 0;\n// const output_pf = 0;\n// const output_frequency = 0;\n// let dataType= {\n//     UPS_INPUT: 0,\n//     UPS_OUTPUT: 1,\n//     MAINS:2,\n// };\n// let inputPdata={\n//     type:0,\n//     voltage:0,\n//     current:0,\n//     power:0,\n//     energy:0,\n//     pf:0,\n//     frequency:0\n// }\n// let outputPdata = {\n//     type:1,\n//     voltage: 0,\n//     current: 0,\n//     power: 0,\n//     energy: 0,\n//     pf: 0,\n//     frequency: 0\n// }\n// global.set('inputPdata', inputPdata);\n// global.set('outputPdata', outputPdata);\n// // Set global variables\n// global.set('cmd_mains_input', cmd_mains_input);\n// global.set('sense_mains_input', sense_mains_input);\n// global.set('sense_ups_output', sense_ups_output);\n// global.set('cmd_load1_connect', cmd_load1_connect);\n// global.set('cmd_load2_connect', cmd_load2_connect);\n// global.set('cmd_load3_connect', cmd_load3_connect);\n// global.set('alarm_status', alarm_status);\n// global.set('BackupTime', BackupTime);\n// global.set('backupTestRunning', false);\n\n// // Set global variables for input power data\n// global.set('input_voltage', input_voltage);\n// global.set('input_current', input_current);\n// global.set('input_power', input_power);\n// global.set('input_energy', input_energy);\n// global.set('input_pf', input_pf);\n// global.set('input_frequency', input_frequency);\n\n// // Set global variables for output power data\n// global.set('output_voltage', output_voltage);\n// global.set('output_current', output_current);\n// global.set('output_power', output_power);\n// global.set('output_energy', output_energy);\n// global.set('output_pf', output_pf);\n// global.set('output_frequency', output_frequency);\n\n\n// Code added here will be run once whenever the node is started.\n\n// Enum for data types\nconst dataType = {\n    UPS_INPUT: \"UPS_INPUT\",\n    UPS_OUTPUT: \"UPS_OUTPUT\",\n    MAINS: \"MAINS\",\n};\n\n// Default input and output power data\nconst defaultPowerData = {\n    voltage: 0,\n    current: 0,\n    power: 0,\n    energy: 0,\n    pf: 0,\n    frequency: 0,\n};\n\n// Input power data\nlet inputPdata = {\n    type: dataType.UPS_INPUT, // Use the enum for type\n    ...defaultPowerData,\n};\n\n// Output power data\nlet outputPdata = {\n    type: dataType.UPS_OUTPUT, // Use the enum for type\n    ...defaultPowerData,\n};\n\n// Set global variables\nglobal.set('inputPdata', inputPdata);\nglobal.set('outputPdata', outputPdata);\n\nglobal.set('cmd_mains_input', 0);\nglobal.set('sense_mains_input', 0);\nglobal.set('sense_ups_output', 0);\n\nglobal.set('cmd_load1_connect', 0);\nglobal.set('cmd_load2_connect', 0);\nglobal.set('cmd_load3_connect', 0);\nglobal.set('alarm_status', 0);\nglobal.set('BackupTime', 0);\nglobal.set('backupTestRunning', false);\n\n// Set global variables for input power data\nObject.keys(defaultPowerData).forEach((key) => {\n    global.set(`input_${key}`, inputPdata[key]);\n});\n\n// Set global variables for output power data\nObject.keys(defaultPowerData).forEach((key) => {\n    global.set(`output_${key}`, outputPdata[key]);\n});\n",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4813659990240dc1",
        "type": "inject",
        "z": "6906193139893272",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "e74de8334138f510"
            ]
        ]
    },
    {
        "id": "09e9c95529e223b1",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_MAINS_IN",
        "func": "let value=msg.payload;\n\nglobal.set('cmd_mains_input', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "054dad1c6f423385",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_LOAD1",
        "func": "let value=msg.payload;\n\nglobal.set('cmd_load1_connect', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0dcca1ca9bdc21cd",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SET_MAINS_INPUT",
        "links": [
            "10142d9d3cc8d80a"
        ],
        "x": 125,
        "y": 100,
        "wires": [
            [
                "09e9c95529e223b1"
            ]
        ]
    },
    {
        "id": "5e4b35fd3cd43ff4",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SET_LOAD1",
        "links": [
            "935e37cdfae7fe48"
        ],
        "x": 125,
        "y": 140,
        "wires": [
            [
                "054dad1c6f423385"
            ]
        ]
    },
    {
        "id": "a4bdfff88de16c02",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_LOAD2",
        "func": "let value=msg.payload;\n\nglobal.set('cmd_load2_connect', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1215662ccc8745ad",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SET_LOAD2",
        "links": [
            "aa2f0b5d403b73be"
        ],
        "x": 125,
        "y": 180,
        "wires": [
            [
                "a4bdfff88de16c02"
            ]
        ]
    },
    {
        "id": "f3583acd7152b8d1",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_LOAD3",
        "func": "let value=msg.payload;\n\nglobal.set('cmd_load3_connect', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2ad22c35e0d0df01",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_ALARM",
        "func": "let value = msg.payload;\n\nglobal.set('alarm_status', value);\nmsg.payload = value;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8b72759a15471fc6",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SET_LOAD3",
        "links": [
            "27f54e557290e626"
        ],
        "x": 125,
        "y": 220,
        "wires": [
            [
                "f3583acd7152b8d1"
            ]
        ]
    },
    {
        "id": "354c6544dce4f77e",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SET_ALARM_STATUS",
        "links": [
            "706e406ae479f458"
        ],
        "x": 125,
        "y": 260,
        "wires": [
            [
                "2ad22c35e0d0df01"
            ]
        ]
    },
    {
        "id": "63854bad87fdeb31",
        "type": "change",
        "z": "6906193139893272",
        "name": "cmd_mains_input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmd_mains_input",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "8fc7da861e181632"
            ]
        ]
    },
    {
        "id": "08960619487ec931",
        "type": "inject",
        "z": "6906193139893272",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "63854bad87fdeb31",
                "7c291ac3576beb86",
                "35337adc544cb646",
                "55d3ac7916c489a1",
                "2a393f826aefd75a"
            ]
        ]
    },
    {
        "id": "8fc7da861e181632",
        "type": "switch",
        "z": "6906193139893272",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cmd_mains_input",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "cmd_load1_connect",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "cmd_load2_connect",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "cmd_load3_connect",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "alarm_status",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "9169becffe20fa6a"
            ],
            [
                "54cddc2b122c96ed"
            ],
            [
                "f5ad525cf69b0261"
            ],
            [
                "3065f9625ee200a3"
            ],
            [
                "911f6ec954112ac9"
            ]
        ]
    },
    {
        "id": "7c291ac3576beb86",
        "type": "change",
        "z": "6906193139893272",
        "name": "cmd_load1_connect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmd_load1_connect",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "8fc7da861e181632"
            ]
        ]
    },
    {
        "id": "35337adc544cb646",
        "type": "change",
        "z": "6906193139893272",
        "name": "cmd_load2_connect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmd_load2_connect",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "8fc7da861e181632"
            ]
        ]
    },
    {
        "id": "55d3ac7916c489a1",
        "type": "change",
        "z": "6906193139893272",
        "name": "cmd_load3_connect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmd_load3_connect",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "8fc7da861e181632"
            ]
        ]
    },
    {
        "id": "2a393f826aefd75a",
        "type": "change",
        "z": "6906193139893272",
        "name": "alarm_status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "alarm_status",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "8fc7da861e181632"
            ]
        ]
    },
    {
        "id": "9169becffe20fa6a",
        "type": "rbe",
        "z": "6906193139893272",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "10468a2ed19505e8"
            ]
        ]
    },
    {
        "id": "54cddc2b122c96ed",
        "type": "rbe",
        "z": "6906193139893272",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "2bc70b4e0652cc67"
            ]
        ]
    },
    {
        "id": "f5ad525cf69b0261",
        "type": "rbe",
        "z": "6906193139893272",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "a1b5cb0f9eadce98"
            ]
        ]
    },
    {
        "id": "3065f9625ee200a3",
        "type": "rbe",
        "z": "6906193139893272",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "7e0e369a26cc6874"
            ]
        ]
    },
    {
        "id": "911f6ec954112ac9",
        "type": "rbe",
        "z": "6906193139893272",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "c10d2fe109dbc98f"
            ]
        ]
    },
    {
        "id": "10468a2ed19505e8",
        "type": "function",
        "z": "6906193139893272",
        "name": "reg0",
        "func": "msg.reg_addr=0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "81b114ab45452817"
            ]
        ]
    },
    {
        "id": "2bc70b4e0652cc67",
        "type": "function",
        "z": "6906193139893272",
        "name": "reg1",
        "func": "msg.reg_addr= 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "81b114ab45452817"
            ]
        ]
    },
    {
        "id": "a1b5cb0f9eadce98",
        "type": "function",
        "z": "6906193139893272",
        "name": "reg2",
        "func": "msg.reg_addr= 2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "81b114ab45452817"
            ]
        ]
    },
    {
        "id": "7e0e369a26cc6874",
        "type": "function",
        "z": "6906193139893272",
        "name": "reg3",
        "func": "msg.reg_addr= 3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 480,
        "wires": [
            [
                "81b114ab45452817"
            ]
        ]
    },
    {
        "id": "c10d2fe109dbc98f",
        "type": "function",
        "z": "6906193139893272",
        "name": "reg4",
        "func": "msg.reg_addr= 4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "81b114ab45452817"
            ]
        ]
    },
    {
        "id": "81b114ab45452817",
        "type": "function",
        "z": "6906193139893272",
        "name": "FC05",
        "func": "var id =3;\nvar fc = 5;\nvar reg_addr = msg.reg_addr;\nvar qty = 1;\nmsg.slave_ip = \"192.168.0.172\";\nvar slave_ip = msg.payload.slave_ip;\n\n\nmsg.payload = { value: msg.payload, 'fc': fc, 'unitid': id, 'address': reg_addr, 'quantity': qty };\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 380,
        "wires": [
            [
                "c2845af5f67ceb47",
                "0408a72eb20db0cb"
            ]
        ]
    },
    {
        "id": "c2845af5f67ceb47",
        "type": "debug",
        "z": "6906193139893272",
        "name": "FC05",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "0408a72eb20db0cb",
        "type": "link out",
        "z": "6906193139893272",
        "name": "FC05_out",
        "mode": "link",
        "links": [
            "aef111f737a8e51c"
        ],
        "x": 1125,
        "y": 240,
        "wires": []
    },
    {
        "id": "d3bc04bcfec75ab8",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_SENSE_MAINS_IN",
        "func": "let value=msg.payload;\n\nglobal.set('sense_mains_input', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e6eb508467f378fa",
        "type": "function",
        "z": "6906193139893272",
        "name": "SET_SENSE_UPS_OUT",
        "func": "let value=msg.payload;\n\nglobal.set('sense_ups_output', value);\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "512d3cfd1e4b238d",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SENSE_MAINS_INPUT",
        "links": [
            "c9275b65a66fa577"
        ],
        "x": 425,
        "y": 80,
        "wires": [
            [
                "d3bc04bcfec75ab8"
            ]
        ]
    },
    {
        "id": "9bee7769430de542",
        "type": "link in",
        "z": "6906193139893272",
        "name": "SENSE_UPS_OUTPUT",
        "links": [
            "fbc1a67f8088a4d9"
        ],
        "x": 425,
        "y": 120,
        "wires": [
            [
                "e6eb508467f378fa"
            ]
        ]
    },
    {
        "id": "f5d6aa6f34b6f2f8",
        "type": "inject",
        "z": "6906193139893272",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "e6eb508467f378fa"
            ]
        ]
    },
    {
        "id": "b1c09507cc9d72c0",
        "type": "inject",
        "z": "6906193139893272",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "e6eb508467f378fa"
            ]
        ]
    }
]