flows/settings.json
[
    {
        "id": "e6613618b3405f10",
        "type": "tab",
        "label": "SETTINGS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c22fcd60c631ef02",
        "type": "ui-form",
        "z": "e6613618b3405f10",
        "name": "REPORT_SETTINGS",
        "group": "785ed2fd62cefc23",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "name",
                "key": "name",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "TestStandard",
                "key": "standard",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "ups_model",
                "key": "model",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Client",
                "key": "client_name",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Brand",
                "key": "brand_name",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "TestEngineer",
                "key": "test_enginner",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "AprrovalEngineer",
                "key": "approval_engineer",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "standard": "",
            "model": "",
            "client_name": "",
            "brand_name": "",
            "test_enginner": "",
            "approval_engineer": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "standard",
                "value": "0",
                "label": " IEC_62040_1"
            },
            {
                "dropdown": "standard",
                "value": "1",
                "label": "IEC_62040_2"
            },
            {
                "dropdown": "standard",
                "value": "2",
                "label": "IEC_62040_3"
            },
            {
                "dropdown": "standard",
                "value": "3",
                "label": "IEC_62040_4"
            },
            {
                "dropdown": "standard",
                "value": "4",
                "label": "IEC_62040_5"
            }
        ],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "e9a4f7de5026de54"
            ]
        ]
    },
    {
        "id": "e9a4f7de5026de54",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "b06b941286798352",
        "type": "inject",
        "z": "e6613618b3405f10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "5d58a652fc68e02d"
            ]
        ]
    },
    {
        "id": "5d58a652fc68e02d",
        "type": "fs-file-lister",
        "z": "e6613618b3405f10",
        "name": "",
        "start": "src/proto",
        "pattern": "*.proto*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "df71034f668f9cb5"
            ]
        ]
    },
    {
        "id": "df71034f668f9cb5",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "f8ea56e6ef8f2e3f",
        "type": "encode",
        "z": "e6613618b3405f10",
        "name": "",
        "protofile": "fcaa87c16afbdfcd",
        "protoType": "PowerMeasure",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "e79a3cfe5289963c"
            ]
        ]
    },
    {
        "id": "d7f2f78d77a4908e",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "269441a7ba5f862a",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "dea6212759a9d76b",
        "type": "inject",
        "z": "e6613618b3405f10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f5f64a1ecdcb57f7"
            ]
        ]
    },
    {
        "id": "f5f64a1ecdcb57f7",
        "type": "function",
        "z": "e6613618b3405f10",
        "name": "TEST_PROTO",
        "func": "msg.payload = {\n    \"type\": 1,  // 1 corresponds to UPS_OUTPUT in the PowerMeasureType enum\n    \"name\": \"UPS Main Output\",\n    \"voltage\": 230.5,\n    \"current\": 10.2,\n    \"power\": 2354.1,\n    \"pf\": 0.98\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "f8ea56e6ef8f2e3f"
            ]
        ]
    },
    {
        "id": "a2aade93aa0c3b38",
        "type": "function",
        "z": "e6613618b3405f10",
        "name": "all_protos",
        "func": "// Convert the input array in msg.payload to a comma-separated string\nmsg.payload = msg.payload.join(',');\n\n// Return the modified message object\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e79a3cfe5289963c",
        "type": "decode",
        "z": "e6613618b3405f10",
        "name": "",
        "protofile": "fcaa87c16afbdfcd",
        "protoType": "PowerMeasure",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "d7f2f78d77a4908e"
            ]
        ]
    },
    {
        "id": "5a76781b0529404a",
        "type": "sqlite",
        "z": "e6613618b3405f10",
        "mydb": "4a28ed258215bca1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "MAIN_DB",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "19a29a8abe90821b"
            ]
        ]
    },
    {
        "id": "e9f332661740ef76",
        "type": "fs-file-lister",
        "z": "e6613618b3405f10",
        "name": "",
        "start": "db",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "6e2658e72d337141"
            ]
        ]
    },
    {
        "id": "ea17e8f7b8f6af97",
        "type": "inject",
        "z": "e6613618b3405f10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "e9f332661740ef76"
            ]
        ]
    },
    {
        "id": "6e2658e72d337141",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "922ac39b3aa31a7c",
        "type": "inject",
        "z": "e6613618b3405f10",
        "name": "show RECORDS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT * FROM PowerMeasure ORDER BY id DESC LIMIT 100",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "5a76781b0529404a"
            ]
        ]
    },
    {
        "id": "19a29a8abe90821b",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "80603d441a974681",
        "type": "ui-form",
        "z": "e6613618b3405f10",
        "name": "UPS_SPEC",
        "group": "785ed2fd62cefc23",
        "label": "UPS_SPEC",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Phase",
                "key": "phase",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "Rating",
                "key": "rated_va",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Rated Voltage",
                "key": "rated_voltage",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Rated Amp",
                "key": "rated_current",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Vin Min",
                "key": "min_input_voltage ",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Vin Max",
                "key": "max_input_voltage ",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Rated PF",
                "key": "pf_rated_current",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Max Amp",
                "key": "max_continous_amp",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Overload Amp",
                "key": "overload_amp",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "phase": "",
            "rated_va": "",
            "rated_voltage": "",
            "rated_current": "",
            "min_input_voltage ": "",
            "max_input_voltage ": "",
            "pf_rated_current": "",
            "max_continous_amp": "",
            "overload_amp": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "phase",
                "value": "SINGLE_PHASE",
                "label": "SINGLE_PHASE"
            },
            {
                "dropdown": "phase",
                "value": "THREE_PHASE",
                "label": "THREE_PHASE"
            }
        ],
        "x": 250,
        "y": 520,
        "wires": [
            [
                "3c022c1b6e131f76"
            ]
        ]
    },
    {
        "id": "3c022c1b6e131f76",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "aa3ea1c75a205790",
        "type": "ui-form",
        "z": "e6613618b3405f10",
        "name": "Overload",
        "group": "785ed2fd62cefc23",
        "label": "OverLoads",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Load Percentage",
                "key": "load_percentage",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Time",
                "key": "overload_time_min",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Overload Type",
                "key": "type",
                "type": "dropdown",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "load_percentage": "",
            "overload_time_min": "",
            "type": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "type",
                "value": "overload_long",
                "label": "overload_long"
            },
            {
                "dropdown": "type",
                "value": "overload_medium",
                "label": "overload_medium"
            },
            {
                "dropdown": "type",
                "value": "overload_short",
                "label": "overload_short"
            }
        ],
        "x": 240,
        "y": 560,
        "wires": [
            [
                "ea7c319790c3db46"
            ]
        ]
    },
    {
        "id": "ea7c319790c3db46",
        "type": "debug",
        "z": "e6613618b3405f10",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "785ed2fd62cefc23",
        "type": "ui-group",
        "name": "FIXED",
        "page": "cb5e987bd157d173",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fcaa87c16afbdfcd",
        "type": "protobuf-file",
        "protopath": "/Users/farukhannan/FHR_DEVS/MyDEVS/Python/powerGuard/src/proto/pData.proto",
        "watchFile": false,
        "keepCase": true
    },
    {
        "id": "4a28ed258215bca1",
        "type": "sqlitedb",
        "db": "/Users/farukhannan/FHR_DEVS/MyDEVS/Python/powerGuard/db/test_reports.db",
        "mode": "RWC"
    },
    {
        "id": "cb5e987bd157d173",
        "type": "ui-page",
        "name": "SETTINGS",
        "ui": "6bb6879aa70631ea",
        "path": "/settings",
        "icon": "cog-outline",
        "layout": "grid",
        "theme": "f51f9a07212ff54b",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6bb6879aa70631ea",
        "type": "ui-base",
        "name": "UPS Tester",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "f51f9a07212ff54b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#d1479f",
            "primary": "#0094ce",
            "bgPage": "#ededed",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]